.card-body {
  background: rgba(244, 244, 244, 0.7);
  backdrop-filter: blur(25px);
  border-radius: 15px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
  padding: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
  justify-content: center;
}

.card-middle {
  width: 70rem;
  height: 70rem;
}

.card-square-sm {
  width: 15rem;
  height: 15rem;
}

.card-square {
  width: 35rem;
  height: 20rem;
  min-width: 25rem;
  min-height: 20rem;
}
